<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>19/05/14 17:07:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Guru99DataProviderTestCase.close()[pri:0, instance:anhpt28.selenium.demo.Guru99DataProviderTestCase@210366b4]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754638213</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/05/14 17:06:52</td>   <td>-9069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Guru99DataProviderTestCase.loginGuru99TestCase(java.lang.String, java.lang.String)[pri:0, instance:anhpt28.selenium.demo.Guru99DataProviderTestCase@210366b4]">loginGuru99TestCase</td> 
  <td>main@1754638213</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/05/14 17:07:01</td>   <td>-65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Guru99DataProviderTestCase.loginGuru99TestCase(java.lang.String, java.lang.String)[pri:0, instance:anhpt28.selenium.demo.Guru99DataProviderTestCase@210366b4]">loginGuru99TestCase</td> 
  <td>main@1754638213</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/05/14 17:07:01</td>   <td>-21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Guru99DataProviderTestCase.loginGuru99TestCase(java.lang.String, java.lang.String)[pri:0, instance:anhpt28.selenium.demo.Guru99DataProviderTestCase@210366b4]">loginGuru99TestCase</td> 
  <td>main@1754638213</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>19/05/14 17:06:47</td>   <td>-14062</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Guru99DataProviderTestCase.setup()[pri:0, instance:anhpt28.selenium.demo.Guru99DataProviderTestCase@210366b4]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754638213</td>   <td></td> </tr>
</table>
